body {

  padding-top: 0;
}


ul {
  list-style-type:none;
}

abbr[title] {
  border-bottom: none !important;
 cursor: inherit !important;
 text-decoration: none !important;
}

 a {
   color: #17a2b8;
 }


 .FAQcontainer {
   background-color: #17a2b8 ;
   background-image:url('img/backgrounds/bigdata2curved.png') ;
   background-repeat: no-repeat;
  
  
   background-size: cover;
   height: 12rem;



 }

 .background-img {
 
 }

 .MTcontainer{
   background-image: url("IMG/compresseddetails/trianglesvg.svg");
   background-attachment: fixed;
   background-size: cover;
   height: 12rem;

 }

@media only screen and (max-width:900px) {
  nav {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
  }
  .navbar {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;

  }
}


@media only screen and (min-width:900px){

 .noWrapbig{
   white-space: nowrap
 }
}

 .smallcaps{
font-variant: small-caps;

 }

.st0{fill:#FEFEFE;}
.st1{fill:#343A40;}

a:hover {
  text-decoration: none;

}



a:focus {
  text-decoration: none;
}

 .list-group-item {
padding-top: 0.20rem;
padding-bottom: 0.20rem;
padding-left: 0.3rem;
padding-right: 0rem;
border-top: none;
border-left: none;
border-right: none;
border-bottom: #17a2b8 solid 1px;
}

li {
  list-style: none;
}

.sidebar {
  margin-left: 10rem;
  margin-top: 4rem;
  min-width: 30rem;
  overflow: hidden;
border-radius: 0 0 0 0 ;
max-width: 10%;
}


.text-color-main {
 color:   #17a2b8;
}

.list-group-item.active {
border-color: #17a2b8;
border-top: #17a2b8 solid 1px;
border-left: #17a2b8 solid 1px;
border-right: #17a2b8 solid 1px;
background-color: #17a2b8;
color: #fff ;
}

.list-group-item {
padding-top: 0.35rem;
padding-bottom: 0.35rem;
padding-left: 0.3rem;
padding-right: 0rem;
border-top: none;
border-left: none;
border-right: none;
border-bottom: #17a2b8 solid 1px!important;
margin-bottom: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

 .white-box-header{
  background-color: #f9fafa;
  opacity: .8;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: .25rem;
}

.text-color-main {

}

.underline{
  margin-bottom: 1rem;
  margin-left: .5rem;
  width: 7rem;
  height: .2rem;
  background-color:#17a2b8;
}

.underline-longer{
  margin-bottom: 1rem;
  margin-left: .5rem;
  width: 13rem;
  height: .2rem;
  background-color:#17a2b8;
}

.btn-outline-info {
 border: .2rem solid #17a2b8;
}

@media(min-width: 1200px) {
.container-outter {
max-width: 1600px;
}
}

.container-outter {
background-color: #f9fafa;

  padding-left: 0;
  padding-right: 0;
  

 
}


body {
  /*background-color:#a1acae; */
  /*background-color: #d0d5d6; */
  font-size: 18px;
  background-color: #d0d5d6;

}

.smallcaps{
  font-variant: small-caps;
}

.smallcaps-blue {
  color:#17a2b8;
   font-variant: small-caps;

}
.salesoffer{
padding: .2rem 1rem;
background-color:  #17a2b8;
text-align: center;
font-variant: small-caps;
color: white ;

}

.row-grey-ypadding {
  background-color: #e3e6e6 ; 
  /*background-color: #e0e4e4; */
 padding-top: 1rem;
 padding-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  

}

.row-grey-whiteBorder {
  box-sizing: border-box;
  background-color: #e3e6e6 ; 
  /*background-color: #e0e4e4; */
padding: 2rem 1rem 1rem 1rem;
  margin-left: 0;
  margin-right: 0;
  
  

}
.no-wrap{
  white-space:nowrap;
}


.card-row{
  background-image: url("img/card-background.svg");
  margin-left: 0;
  margin-right: 0;
}

.white-box {
  background-color: #f9fafa ;

  padding: 1rem 2rem 1rem 2rem;
  border-radius: .25rem;
  max-width: 100rem ;
  
}

h1 {
  font-variant: small-caps;
}

h4 {
  font-variant: small-caps;
}

.interfacewith{
  margin:auto;
  padding: 1rem;
}

.row-grey-2{
background-color:  #e3e6e6 ; 
  margin: 0;
 padding: 1rem;
}

.partsnvendors-white {
  background-color: #f9fafa  ;

  padding: 1rem 2rem 1rem 2rem;
  border-radius: .25rem;
}

 .grey-box {
background-color: #e3e6e6;
border-radius: .25rem;
padding: 1rem 2rem 1rem 2rem;

}

.purchaseorder-card, .paybycard-card {
  border-radius:.25rem;
  background-color:  #f9fafa
}



footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer-list > li > a {
  display: block;
  padding: .2rem;
  padding-right: 2rem;
}

.img-mobile2{
  margin-right:auto;

}


.row-white-nopadding {
  background-color: #f9fafa;
  margin-right: 0;
  margin-left: 0;
}

.row-white-ypadding {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f9fafa;
  margin-right: 0;
  margin-left: 0;

}



.row-white-orderBorder {
  padding: 1rem;
  background-color: #f9fafa;
  margin-right: 0;
  margin-left: 0;
}



/* everything above 1100px and not any smaller */
@media only screen and (min-width: 1100px){


  .whychoose {
  
    position: relative;
    left: 4rem;
  }

  

}






/* everything slightly above tablet size */
@media only screen and (min-width: 900px){

.paybycard-card {
  min-height: 236px;
 
}


  .movedleftintopicture{
  
      position: relative;
      Left: -2rem;
     padding-left: 4rem;
    }

.row-white-xpadding {
  padding-left: 2rem;
}
 
.img-zscore {
 position: relative;
 left:.5rem;
 top: 1rem;
 z-index: 1000;
}

.row-grey-whiteBorder {
  box-sizing: border-box;
  background-color: #e3e6e6 ; 
  /*background-color: #e0e4e4; */
 padding-top: 2rem;
 padding-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  border: 3rem solid #f9fafa ;
  border-bottom: none;
  border-radius: 2.5rem 2.5rem 0 0;
  

}




}






/* everything above tablet size */
@media only screen and (min-width:769px){
  
.clients-centered {
  padding-left: 3rem;
}

.interfacewith{
 
}




.pictureborder {
  border: 4px solid #e3e6e6;
}





.row-white_center {
  background-color: #f9fafa;
  padding-left: 7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-right: 0;
  margin-left:0;
}



.ourclientbutton-padding {
  padding-top: 2rem;
 
}


.row-grey-2{
  padding: 3rem;
  background-color: #e3e6e6 ; 
  /*background-color: #e0e4e4; */
  
  margin-left: 0;
  margin-right: 0;
  
}




  .row-grey {
    padding: 3rem 3rem 3rem 4rem;
    padding-left: 6rem;
  }

  .white-box{
   
  }
  
  .img-mobile2 {
    min-width: 300px;
    position: relative; 
    left: -2.0rem;
   
  }
 
}

